body {
    color: darkslategray !important;
    background-color: white !important;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif !important;
    margin: 0;
  }

  .main-container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 5px;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .col-sm {
    padding: 0px 5px 10px 0px !important;
  }

  /* .skills {
      padding: 0 4em 0 4em !important;
  } */

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px !important;
    margin-top: 20px;
    line-height: 2em;
}

.profile-pic {
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.profile-about {
    margin-top: 30px;
}

.contact-details {
    color: inherit !important;
}

ul {
    list-style: none
}

/* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
} */



h1 {
    font-size: 4em !important;
    font-weight: bold !important;
}

.name {
    margin-top: 20px !important;
}

h2.header {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    margin: 15px 0;
    letter-spacing: 1.2px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
  }
  
  h2.header:after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    border-bottom: 4px solid darkslategray;
    overflow: hidden;
    justify-content: space-around;
  }

  h3 {
    font-weight: bold !important;
}

  h5 {
      font-weight: bold !important;
  }

  h6 {
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.date {
    /* font-weight: bold; */
    font-size: 0.8em;
}

.hover_img a { 
    position:relative; 
    border: 1px solid black;
}

.hover_img a span { 
    position:absolute; 
    display:none; 
    z-index:99;
    left:50%; 
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: fixed;
   right: 15vw;
   top: 15vh;
   display: none;
   max-width: 80vw;
   z-index: 3;
   max-height: 100vh;
}


.hover_img a:hover span { 
    display:block; 
}

a:hover:after {
    content: "";
    margin: 0;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none !important;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
    border-left: 1px solid darkslategray;
  }

  .button:hover {
      background-color: white;
      color: darkslategray
  }


  @media screen and (max-width: 600px) {
    #preview, .profile-pic {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }